services:
  db:
    ports:
      - "5433:5432" # Expose to connect from the host
    volumes:
      - ./db-init:/docker-entrypoint-initdb.d
      - db_data_dev:/var/lib/postgresql/data

  backend:
    build:
        context: ./petlink-java
        # The "target: dev" is needed to include the build stage from the Dockerfile for development, thus including
        # Maven.
        target: dev
    image: petlink-backend-dev:${BE_VERSION}
    volumes:
      - ./petlink-java:/app # Mount source code for hot reload
      - maven_cache:/root/.m2
    environment:
      SPRING_PROFILES_ACTIVE: dev
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}

  frontend:
    build:
        context: ./petlink-ui
        target: dev
    image: petlink-frontend-dev:${FE_VERSION}
    volumes:
      - ./petlink-ui:/app # Mount source code for live reload
      - ./petlink-ui/src/environments/environment.ts:/app/src/environments/environment.ts
      - frontend_node_modules:/app/node_modules
    environment:
      NODE_ENV: development
    ports:
      - "4300:4200"

# maven_cache: Cache Maven dependencies
# frontend_node_modules: Required to prevent node_modules from being overwritten by the host mount,
# which would cause issues with missing dependencies.
# db_data_dev: Independent dev database volume (prod uses db_data in docker-compose.yml)
volumes:
    maven_cache:
    frontend_node_modules:
    db_data_dev:
